<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender" >
    <tipo de="" arquivo="log" value = "C:\temp\Logger.log" />
    <appendToFile value="true" />
    <rollingStyle value="Tamanho" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <tipo de="" lockingModel="log4net.Appender.FileAppender + MinimalLock" />
    <layout type="log4net.Layout.PatternLayout" >
      <header value="Início do registro "/>
      <footer value="Extremidade do log "/>
      <conversionPattern value="%date [%thread]%-5level% logger -% message% newline" />
    </layout>
    <layout type="log4net.Layout.PatternLayout" >
      <header value="[cabeçalho]"/>
      <footer value="[rodapé]"/>
      <conversionPattern value="% date [% thread]% -5level% logger -% message% newline"  />
    </layout>
  </appender>
  <root>
    <nível valor="DEBUG" />
    <appender ref="RollingFile" />
  </root>
</log4net>